.scientifickeypad {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 90%;
}
.scientifickeypad-row {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    margin: 0.05em;
}
.scientifickeypad-item {
    height: 100%;
    width: 20%;
    margin: 0.05em;
}