.scientifickeypad {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.scientifickeypad-row {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-around;
}
.scientifickeypad-item {
    height: 100%;
    width: 20%;
}