.panel {
    width: 100%;
    height: 10%;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
}
.panel div {
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid black;
    background-color: #cccccc;
    font-size: 2em;
}
.panel div:focus {
    outline: none;
    border-bottom: 1px solid #333333;
}