.scientificcalculator {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.scientificcalculator span {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.scientificcalculator-keypad {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.scientificcalculator-keypad-wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.scientificcalculator-logScreen {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.scikeypad-enter, .scikeypad-appear{
    opacity: 0.01;
    transform: translateY(-30px);
}
.scikeypad-enter.scikeypad-enter-active, .scikeypad-appear.scikeypad-appear-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 500ms ease-in-out;
}

.scikeypad-leave {
    opacity: 1;
    transform: translateY(0);
}

.scikeypad-leave.scikey-leave-active {
    opacity: 0.01;
    transform: translateY(-30px);
    transition: all 300ms ease-out;
}
.scikeypad-leave.scikey-leave-active {
    opacity: 0.01;
    transform: translateY(100px);
    transition: all 300ms ease-out;
}