.equationkeypad {
    display: flex;
    width: 100%;
    height: 90%;
    flex-direction: row;
    justify-content: flex-start;
}

.equationkeypad-col {
    display: flex;
    height: 100%;
    width: 20%;
    flex-direction: column;
    margin: 0 0  0.05em 0;
}
.equationkeypad-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    margin-top: 0.1em;
}
.equationkeypad-item-action {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6em;
    width: 100%;
    height: 50%;
    margin-top: 0.1em;
}

.equationkeypad-item-action div {
    background-color: #011826;
}

.eqkeypad-item-margin-left {
    margin-left: 0.1em;
}

.eqkeypad-item-margin-right {
    margin-right: 0.1em;
}

.eqkeypad-item-right-round-corner div {
    border-bottom-right-radius: 15px;
}
.eqkeypad-item-left-round-corner div {
    border-bottom-left-radius: 15px;
}