.App {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.screen {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screenfade-enter, .screenfade-appear{
  opacity: 0.01;
  transform: translateY(-30px);
}
.screenfade-enter.screenfade-enter-active, .screenfade-appear.screenfade-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms ease-in-out;
}

.screenfade-leave {
  opacity: 1;
  transform: translateY(0);
}

.screenfade-leave.screenfade-leave-active {
  opacity: 0.01;
  transform: translateY(-30px);
  transition: all 300ms ease-out;
}
.screen span {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}