.regularcalculator-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}
.regularcalculator {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 50%;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.regularcalculator-logscreen {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.regularcalculator span {
    width: 75%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.keypad-enter, .keypad-appear{
    opacity: 0.01;
    transform: translateY(-30px);
}
.keypad-enter.keypad-enter-active, .keypad-appear.keypad-appear-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 500ms ease-in-out;
}

.keypad-leave {
    opacity: 1;
    transform: translateY(0);
}

.keypad-leave.key-leave-active {
    opacity: 0.01;
    transform: translateY(100px);
    transition: all 300ms ease-out;
}